
/** {
    font-family: 'Questrial', sans-serif;
}*/

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.cardjogo {
    width: 200px;
    height: 200px;
    border: 3px solid #e42c4f;
}

.cardusuarious {
    width: 300px;
    height: 300px;
    padding: 20px;
    border: 3px solid #e42c4f;
}

.barranavegacao {
    margin-bottom: 0px !important;
}

.opcional{
    font-size:0.7rem;
    opacity:0.5;
}

.link-navbar:hover{
    color: #e42c4f !important;
}

/* BOTÃO NAVBAR */

.swipeButton {
    text-align: center;
    width: 100px;
    background-color: #e42c4f;
    border-radius: 50px;
}
.swipeButton img{
    width: 60px;
}

/*FIM BOTÃO NAVBAR*/

/* CAROUSEL*/
.carousel-caption {
    transform: translateY(-50%);
    bottom: 0;
    top: 64%;
}

.carousel-item{
    max-height: 55vh;
}
/*--FIM CAROUSEL--*/

/*LOGIN*/
.corpo {
    display: flex;
    justify-content: center;
    align-items: center;
    -ms-align-items: center;
    min-height: 80vh;
    font-size: 20px !important
}

.box {
    position: relative;
    width: 40%;
    height: 65vh;
    display: flex;
    justify-content: center;
    -ms-aling-items: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 10px 40px #00000056;
}

.caixa {
    z-index: 2;
    font-size: 20px;
    width: 90vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 80px;
    height: 80px;
    margin-bottom: 70px;
}

.text {
    margin: 0;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 4%;
}

.text {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 15px 0px;
}

    .text input {
        width: 70%;
        border: 0.5px solid rgba(0, 0, 0, 0.123);
        border-radius: 8px;
        padding: 15px;
        color: #000000de;
        font-size: 12pt;
        outline: none;
    }

.forgot {
    font-size: 12px;
    z-index: 2;
    cursor: pointer;
    margin-top: 10px;
}

.checkbox{
    font-size: 15px;
    margin-bottom: 10px;
}


.btn-login {
    width: 15vw;
    padding: 16px 0px;
    margin: 20px;
    border: none;
    border-radius: 9px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #ffffff;
    background: #e42c4f;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #ff0000ab;
}



.box::before {
    content: '';
    position: absolute;
    width: 300px;
    height: 1200%;
    background: linear-gradient(#ff0000, #ff0101);
    animation: rotate 4s linear infinite;
}

.box::after {
    content: '';
    position: absolute;
    background: #ffffff;
    inset: 3px;
    border-radius: 16px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/*FIM LOGIN*/

.espaco {
    height: 9px;
}

/*---------------------*/

.homeUsuario {
    margin: auto;
    width: 80%;
    height: 75vh;
}

.cardHome {
    height: 32vh;
    background-color: #E42C4F;
    border-radius: 50px;
    color: white;
    font-size: 00px;
    text-align: center;
    vertical-align: bottom;
    line-height: 70vh;
    text-decoration: none;
    font-weight: 800;
}

.cardHome:hover {
        color: white;
}

.cardHome1 {
    background: url(../imagens/img-layout/EDITARPERFILICON.png);
    background-color: #E42C4F;
    background-size: 50%;
    background-position: top;
    background-repeat: no-repeat;
}

.cardHome2 {
    background: url(../imagens/img-layout/FINDADUOICON.png);
    background-color: #E42C4F;
    background-size: 50%;
    background-position: top;
    background-repeat: no-repeat;
}
    /*-----------------OBJETIVO------------------*/
    .objetivo {
    background: url('/imagens/img-layout/Objt Back.png');
    height: 600px;
    font-style: italic;
    font-family: 'Anton', sans-serif;
}

.goal {
    /*border: 2px solid green;*/
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title-obj {
    /*border: 2px solid blue;*/
    display: flex;
    font-size: 450%;
    margin-bottom: 60px;
    color: white;
}

.text-obj {
    /*border: 2px solid blue;*/
    font-size: 140%;
    width: 40vw;
    color: white;
    text-align: center;
}


/*-----------------FIM-OBJETIVO------------------*/

/*-----------------COMO-FUNCIONA------------------*/

.funcional {
    height: 600px;
    background: url('/imagens/img-layout/Como F Back.png');
    font-style: italic;
    font-family: 'Anton', sans-serif;
    background-repeat:no-repeat;
}

.func {
    /*border: 2px solid green;*/
    height: 67vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title-func {
    /*border: 2px solid blue;*/
    display: flex;
    font-size: 450%;
    margin-bottom: 60px;
    color: white;
}

.text-func {
    width: 30vw;
    height: 5vh;
    justify-content: center;
    /*border: 2px solid blue;*/
    font-size: 140%;
    text-align: left;
    color: white;
}

.text-func1 {
    width: 30vw;
    height: 4vh;
    justify-content: center;
    /*border: 2px solid blue;*/
    font-size: 140%;
    text-align: left;
    color: white;
}

.text-func4 {
    width: 30vw;
    height: 4vh;
    justify-content: center;
    /*border: 2px solid blue;*/
    font-size: 140%;
    text-align: left;
    color: white;
}

.text-func5 {
    width: 30vw;
    height: 4vh;
    justify-content: center;
    /*border: 2px solid blue;*/
    font-size: 140%;
    text-align: left;
    color: white;
}

.botaoAdmin{
    margin-left:10px;
}

.descricao input {
    padding-bottom: 60px;
    word-wrap: break-word;
    word-break: break-all;
}

.preferencia input {
    padding-bottom: 60px;
}


/*-----------------FIM-COMO-FUNCIONA------------------*/

/*-----------------QUEM-SOMOS?------------------*/

.quem-somos {
    background: url('/imagens/img-layout/Quem S-Back.png');
    height: 550px;
    font-style: italic;
    font-family: 'Anton', sans-serif;
    /*border: 2px solid green;*/
    background-position:center;
    display:flex;
    align-items:center;
}

.quem-s {
    /*border: 2px solid green;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title-quem {
    /*border: 2px solid blue;*/
    display: flex;
    color: white;
    font-size: 450%;
    margin-bottom: 40px
}

.text-quem {
    /* border: 2px solid blue;*/
    color: white;
    font-size: 140%;
    text-align: center;
}


/*-----------------FIM-QUEM-SOMOS?------------------*/