
* {
    font-family: 'Questrial', sans-serif;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.cardjogo {
    width: 200px;
    height: 200px;
    border: 3px solid #e52f48;
}

.cardusuarious {
    width: 300px;
    height: 300px;
    padding: 20px;
    border: 3px solid #e52f48;
}

.barranavegacao {
    margin-bottom: 0px !important;
}

.opcional{
    font-size:0.7rem;
    opacity:0.5;
}

.link-navbar:hover{
    color: #ea3546 !important;
}
/* CAROUSEL*/
.carousel-caption {
    transform: translateY(-50%);
    bottom: 0;
    top: 64%;
}

.carousel-item{
    max-height: 86vh;
}
/*--FIM CAROUSEL--*/


