@using static Efriender.Models.Usuario
@model Efriender.Models.Usuario

@{
    ViewData["Title"] = "Create";
   
}

<div class="container">


<h1>Cadastrar Perfil Usuário</h1>
<hr />
<div class="row">
    <div class="col-md-8 m-auto">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group  w-100 text-center imagemUsuario">
                <img class="rounded-circle" id="PreviewPhoto" src="~/imagens/img-layout/FotoPadrao.png" alt="Imagem Padrão" width="200px" height="200px" margin="20px" />
                
                <h2 class="p-2">@User.Identity.Name</h2>

            </div>

            <div class="form-group text-center">
                <div class="custom-file">
                    <input type="file"asp-for="Imagem" class="custom-file-input btn btn-primary mt-3" id="UploadedImage"
                           onchange="document.getElementById('PreviewPhoto').src = window.URL.createObjectURL(this.files[0])" title=" " />
                </div>
            </div>


    <div>

        <div class="col-md-12 d-flex flex-fill">

                    <div class="form-group m-2 col-6">
                <label asp-for="Idade" class="control-label"></label>
                <input asp-for="Idade" class="form-control" />
                <span asp-validation-for="Idade" class="text-danger"></span>
            </div>

                    <div class="form-group m-2 col-md-6">
                <label asp-for="Genero" class="control-label"></label>
                <select asp-for="Genero" class="form-control" asp-items="Html.GetEnumSelectList<Generos>()"></select>
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>
       </div>

                <div class="col-md-12 d-flex">


                    <div class="form-group m-2 col-4">
                <label asp-for="Discord" class="control-label"></label>
                <span class="opcional">(Opcional)</span>
                <input asp-for="Discord" class="form-control" />
                <span asp-validation-for="Discord" class="text-danger"></span>
            </div>




       </div>

                <div class="col-md-12 d-flex">

                    <div class="form-group m-2 col-6">
                <label asp-for="Descricao" class="control-label"></label>
                <textarea asp-for="Descricao" class="form-control"></textarea>
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>

       </div>

       <div class="col-12 d-flex">
           <div class="form-group m-2 col-6">
                <label asp-for="Jogo" class="control-label"></label>
                <select asp-for="Jogo" class ="form-control" asp-items="ViewBag.JogosId"></select>
            </div>

       </div>
    </div>

            <div class="form-group text-center m-4">
                <input type="submit" value="Criar" class="btn btn-primary col-md-4 m-auto" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Usuarios">Voltar</a>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName)
        });
    </script>
}
