@model EFriender.Models.Jogo

@{
    ViewData["Title"] = "VerMais";
}

<div class="container">

<h2> Usuários cadastrados em @Model.Nome</h2>

<div>
    <hr />

            @foreach (var item in Model.Usuarios)
            {
     <div class="d-inline-flex">
            <div class="rounded m-5 text-dark cardusuarious d-flex flex-column align-items-center justify-content-center">
            @Html.DisplayFor(modelItem => item.Nome)
            <img class="border-2 border-white m-1" src="~/imagens/@item.UrlImagem" width="130px" height="130px" />
            @Html.DisplayFor(modelItem => item.Idade) anos
            <img src="~/imagens/@Html.DisplayFor(modelItem => item.Jogo.UrlImagem)" width="40px" height="40px" />
            <a class="btn btn-primary btn-sm mt-2" asp-controller="Usuarios" asp-action="Details" asp-route-id="@item.Id">Ver Mais</a>
        </div>
     </div>
            }

    <div class="d-block w-100">
    <a asp-action="Jogos">Voltar</a>
    </div>

</div>
</div>
